.external-style {
  color: rgb(142, 162, 142);
  font-size: large;
  font-style: italic;
  line-height: 10pc;
  background-color: aquamarine;
}

.salom-salom{
    background-color: rgb(31, 109, 160);
}